$color-celeste:#135D87; /*Para Fondos*/
$color-celeste-claro:rgba(19, 93, 135, .8); /*Para Sub-Fondos*/
$colorgris-claro:#E6E6E6; /*Para enlaces y Texto sobre Fonod Oscuro*/
$color-texto:#34495E; /*Texto de Tarjetas y Form*/
$color-linea-separadora: #85929E;
/* $color-fondo-form: #FFFFFF; */
$color-fondo-form: #EDEDED;