@import "../utilities/variables";

/*-LAYOUT_Contenedor Footer:*/
.contenedor-footer {
    display: flex;
    flex-wrap: wrap;
    background-color: $color-celeste;
    width: 100%;
    .contenedor-footer__columna {
        flex: 1; /* Cada columna ocupa 1/3 del ancho disponible */
        padding: 0.5rem 0.5rem;
        h3{
            @include fuente-texto(1.2rem,bold);
            color:$colorgris-claro;
        }
        p{
            @include fuente-texto(1rem,400);
            color: $colorgris-claro;
        }
        a{
            @include fuente-texto(1rem,400);
            color: $colorgris-claro;
            img {
                object-fit:cover;
                width: 2rem;
                margin-right: 1rem;
            }
        }
    }
    .columna__parrafo{
        display: block;
        width: 100%;
        @include fuente-texto(1rem,400);
        color: $colorgris-claro;
        margin-top: 1rem;
        text-align: center;
    }
}