.carrito-btn {
    position: fixed;
    bottom: 100px;
    right:20px;
    z-index: 100;
    animation: pulso 2s infinite linear;
    border-radius: 15%;
    width: 3rem;
    /* background-color: red; */
    img{
        width: 100%;
    }
    /* a{
        img{
            width: 100%;
        }
    } */
}